Build the linear regression model using scikit learn in boston data to predict
'Price' based on other dependent variable.

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [4]:
from sklearn.datasets import load_boston
boston = load_boston()
bos = pd.DataFrame(boston.data)
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
iv=bos.iloc[:,:12]
iv.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90

In [6]:
dv=bos.iloc[:,12]
dv.head()

0    4.98
1    9.14
2    4.03
3    2.94
4    5.33
Name: 12, dtype: float64

In [9]:
len(bos)

506

In [11]:
from sklearn.model_selection import train_test_split
iv_train,iv_test,dv_train,dv_test=train_test_split(iv,dv,test_size=0.25)
#It means 25 percent data should be considered as test dataset
print(len(iv_train))
print(len(iv_test))
print(len(dv_train))
print(len(dv_test))

379
127
379
127

In [12]:
from sklearn.linear_model import LinearRegression
#LinearRegression() has all maths involved y=mx+c,m,c already calculated
reg=LinearRegression()
reg.fit(iv_train, dv_train)
#training is done

LinearRegression()

In [13]:
#let's predict now
y_predicted=reg.predict(iv_test)
y_predicted

array([11.98696229,  8.86147365, 15.18177188,  9.89648661, 17.04185504,
       13.67035724, 36.43631488, 20.36256942, 12.10032191, 26.99869381,
       16.61385452, 17.23201618, 10.48798324,  8.4524073 , 12.58697226,
       11.52493596,  9.60476339,  6.08559799, 27.09656107, 16.81310571,
       11.12149474, 15.65910982,  6.9878266 , 13.36530717,  9.0377448 ,
       11.88702258, 10.54907682, 10.04689488, 15.49617897, 10.95859356,
       10.60701446, 23.55743622,  6.32609373, 22.17933224, 17.27337761,
       19.41484581, 14.71021727, 16.35707962,  8.19630713, 12.25668406,
       15.7253672 , 11.97969608, 12.02478104,  8.43784125,  8.44701022,
       16.82116694, 11.39303313, 12.77530669,  3.84275823, 31.83659181,
        9.44724334, 11.08138271, 16.41455102,  5.15894469,  1.14392567,
        5.6445784 , 14.43985732, 13.68839149, 10.75620424, 17.69439989,
       13.57781025,  6.00192043, 14.1172776 , 16.88099503,  8.22620235,
       26.56231082,  6.35094055, 15.42941896, 12.1911759 , 15.47991324,
       10.91105578, 22.34121608, 10.44250407, 31.38451789, 12.30508722,
       16.1719646 ,  5.63771981, 27.84121779, 18.1701877 , 12.26095946,
        1.57647127, 17.01908889, 13.83561771, 14.95175979, 10.25580533,
       16.60781806, 17.26985278,  4.09728689, 19.21014006, 16.28231318,
        8.85784016,  9.31925347,  6.15721168,  9.54813681, 15.81827214,
       10.36211884,  6.55089519, 19.4945723 , 17.53499008, 11.30199651,
       19.56995513, 12.28013763,  9.24108215,  9.83604783, 17.74043388,
        7.3885264 , 16.32783398,  9.35661909,  3.03834639, 18.68535685,
       14.08156008,  7.05312089, 10.75616505, 19.82946871,  5.98876953,
       16.83091128, 12.57353094,  8.64397441,  8.03257717,  6.24492296,
        5.50992575, 16.3942176 ,  7.75338522, -1.41194767,  3.42429661,
       14.94466914, 21.68894279])

In [14]:
from sklearn.metrics import r2_score
r2_score(dv_test,y_predicted)

0.5955603377847174